.container {
  background-color: #c00025;
  width: 100%;
  max-width: 550px;
  border-radius: 15px;
  border: 2px solid grey;
  padding-bottom: 25px;
}

.display {
  margin-top: 25px;
  height: 100px;
  width: 450px;
  border-radius: 50px;
  color: white;
  background-color: #322c2d;
  box-shadow: 1px 1px #322c2d;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 8%;
  font-size: 5rem;
}

/* Buttons Styles */
button {
  background-color: rgb(4, 47, 85);
  border: none;
  border-bottom: 3px solid black;
  border-radius: 50%;
  color: white;
  font-size: 26px;
  margin: 10px;
  padding: 10px 15px;
  width: 100px;
  height: 100px;
}

.button-container {
  display: flex;
  margin-top: 30px;
}

.left {
  width: 75%;
}

.number-container {
  display: flex;
  flex-wrap: wrap;
}

.operator-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.special-container {
  display: flex;
}

.special-button {
  background-color: #007291ff;
}

.operator-button {
  background-color: #0b5d9bff;
}
